:root{
    --color-primary-light: #FAF4EA;
    --color-brand-normal: #8E6446;
    --color-primary-dark: #31261A;
    --color-brand-light: #EFDBC3;
}
.link
{
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color 0.3s;
}
.link:hover{
    color: var(--color-brand-normal);
}
body{
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: Poppins, sans-serif ;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
ul{
    list-style-type: none;
}
ol {
    list-style-type: decimal;
    padding: 40px;
    border: 1px solid var(--color-primary-dark);
}

ol li {
    margin-bottom: 2px;
    font-size: 26px;
    text-align: center;
}
dl {
    background-color: var(--color-brand-light);
    padding: 10px;
    border-left: 5px solid var(--color-primary-dark);
}
dd {
    margin-left: 20px;
    font-size: 16px;
}

h1 {
    color: var(--color-brand-normal);
    text-align: center;
    font-family: Lusitana, sans-serif ;
    font-weight: 400;
    font-size: 200px;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
}
.table-coffee{
    font-size: 20px;
    font-weight: 400;
}
.table-drink{
    font-size: 16px;
    font-weight: 400;
}
th, td {
    border: 2px solid black;
    padding: 10px;
}
th {
    background-color: var(--color-brand-normal);
    color: var(--color-primary-light);
}
.img-table {
    width: 80px;
    height: 80px;
}
.hero-section{
    background-image: url("/images/backgraund.jpg");
    background-position: center top;
    background-size: cover;
}
.header-nav{
    display: flex;
    background-color: var(--color-primary-dark);
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}
footer{
    background-image: url("/images/backgraundfooter.jpg");
    background-repeat: no-repeat;
}

#contact-section{
    color: var(--color-brand-normal);
}
.table-text-coffee{
    color: var(--color-brand-normal);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table-item + .table-item th {
    color: var(--color-primary-light);
}
.table-item >  th{
    border: 3px solid var(--color-primary-dark);
    color: var(--color-brand-light);
    text-transform: uppercase;
}
